.form {
}

.form input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.form button {
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 0.9em;
}

.formGroup {
}

.formGroup label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
