.main {
  width: 90vw;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main h1 a {
  color: #333;
}

.header:hover {
  cursor: pointer;
}

.nav {
  margin-bottom: 2em;
}
